#container1 {
    background-color: red;
    height:900px;
    width:600%;
    padding-top:40px;
    background-attachment: fixed;    
    background-image: url('booksbeach.jpeg');
    background-size:cover;
}/* the css for container1 uses a background attachment to make the background image */

#container2 {
    background-color:rgba(0,0,255,0.2);
    height:500px;
    width:2
    00%;
}

#container3 {
    background-color:blue;
    height:200px;
    width:100%;
}

#container4 {
    background-color:grey;
    height:200px;
    width:100%;
    font-size: 20px;
}

h1 {
    color: yellow;
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
}